<a href="https://colab.research.google.com/github/AFSHAL-7/Datascience/blob/main/Afshal_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_excel('ecommerce.xlsx')
print(df.head(105))

     Customer_ID   Age  Gender  Annual_Income  Spending_Score  \
0              1  56.0    Male        71663.0            96.0
1              2  69.0    Male        35708.0            27.0
2              3  46.0    Male       111906.0            63.0
3              4  32.0    Male        69811.0            96.0
4              5  60.0    Male        22811.0            68.0
..           ...   ...     ...            ...             ...
100           84  32.0  Female        90091.0            62.0
101           54  43.0    Male        52711.0             8.0
102           71   NaN    Male       110272.0            19.0
103           46  26.0  Female        71407.0            85.0
104           45  38.0  Female        35151.0            46.0

     Purchase_Frequency  Last_Transaction_Days Preferred_Category
0                    11                     75            Grocery
1                     5                    217            Grocery
2                     1                    277                NaN
3                     8                    249             Sports
4                    12                    164           Clothing
..                  ...                    ...                ...
100                  13                    321        Electronics
101                  10                     42           Clothing
102                   1                      7             Sports
103                   5                     25           Clothing
104                  14                     99             Beauty

[105 rows x 8 columns]

In [ ]:
print(df.isnull().sum())

Customer_ID              0
Age                      6
Gender                   0
Annual_Income            5
Spending_Score           5
Purchase_Frequency       0
Last_Transaction_Days    0
Preferred_Category       5
dtype: int64

In [ ]:
df_cleaned = df.dropna()
print(df_cleaned)

     Customer_ID   Age  Gender  Annual_Income  Spending_Score  \
0              1  56.0    Male        71663.0            96.0
1              2  69.0    Male        35708.0            27.0
3              4  32.0    Male        69811.0            96.0
4              5  60.0    Male        22811.0            68.0
5              6  25.0    Male        76250.0            60.0
..           ...   ...     ...            ...             ...
99           100  32.0  Female        74045.0            53.0
100           84  32.0  Female        90091.0            62.0
101           54  43.0    Male        52711.0             8.0
103           46  26.0  Female        71407.0            85.0
104           45  38.0  Female        35151.0            46.0

     Purchase_Frequency  Last_Transaction_Days Preferred_Category
0                    11                     75            Grocery
1                     5                    217            Grocery
3                     8                    249             Sports
4                    12                    164           Clothing
5                    12                    357             Beauty
..                  ...                    ...                ...
99                   13                    346        Electronics
100                  13                    321        Electronics
101                  10                     42           Clothing
103                   5                     25           Clothing
104                  14                     99             Beauty

[87 rows x 8 columns]

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
# Feature Scaling
scaler = MinMaxScaler()
df_scaled = df.copy()
df_scaled[["Annual_Income", "Spending_Score"]] = scaler.fit_transform(df[["Annual_Income", "Spending_Score"]])
print(df_scaled)

    Customer_ID   Age  Gender  Annual_Income  Spending_Score  \
0             1  56.0    Male       0.510244        0.978947
1             2  69.0    Male       0.142305        0.252632
2             3  46.0    Male       0.922063        0.631579
3             4  32.0    Male       0.491291        0.978947
4             5  60.0    Male       0.010325        0.684211
..          ...   ...     ...            ...             ...
95           96  42.0    Male       0.183545        0.505263
96           97  62.0  Female       0.296193        0.400000
97           98  58.0  Female       0.486850        0.694737
98           99  46.0    Male       0.476893        0.115789
99          100  32.0  Female       0.534619        0.526316

    Purchase_Frequency  Last_Transaction_Days Preferred_Category
0                   11                     75            Grocery
1                    5                    217            Grocery
2                    1                    277                NaN
3                    8                    249             Sports
4                   12                    164           Clothing
..                 ...                    ...                ...
95                   9                    182        Electronics
96                   7                    167           Clothing
97                   4                     91        Electronics
98                  18                    202            Grocery
99                  13                    346        Electronics

[100 rows x 8 columns]

In [ ]:
df_encoded = pd.get_dummies(df, columns=["Gender"], drop_first=True)
print(df_encoded)

    Customer_ID   Age  Annual_Income  Spending_Score  Purchase_Frequency  \
0             1  56.0        71663.0            96.0                  11
1             2  69.0        35708.0            27.0                   5
2             3  46.0       111906.0            63.0                   1
3             4  32.0        69811.0            96.0                   8
4             5  60.0        22811.0            68.0                  12
..          ...   ...            ...             ...                 ...
95           96  42.0        39738.0            51.0                   9
96           97  62.0        50746.0            41.0                   7
97           98  58.0        69377.0            69.0                   4
98           99  46.0        68404.0            14.0                  18
99          100  32.0        74045.0            53.0                  13

    Last_Transaction_Days Preferred_Category  Gender_Male  Gender_Other
0                      75            Grocery         True         False
1                     217            Grocery         True         False
2                     277                NaN         True         False
3                     249             Sports         True         False
4                     164           Clothing         True         False
..                    ...                ...          ...           ...
95                    182        Electronics         True         False
96                    167           Clothing        False         False
97                     91        Electronics        False         False
98                    202            Grocery         True         False
99                    346        Electronics        False         False

[100 rows x 9 columns]

In [ ]:
encoder = LabelEncoder()
df["Preferred_Category"] = encoder.fit_transform(df["Preferred_Category"])
print(df)

    Customer_ID   Age  Gender  Annual_Income  Spending_Score  \
0             1  56.0    Male        71663.0            96.0
1             2  69.0    Male        35708.0            27.0
2             3  46.0    Male       111906.0            63.0
3             4  32.0    Male        69811.0            96.0
4             5  60.0    Male        22811.0            68.0
..          ...   ...     ...            ...             ...
95           96  42.0    Male        39738.0            51.0
96           97  62.0  Female        50746.0            41.0
97           98  58.0  Female        69377.0            69.0
98           99  46.0    Male        68404.0            14.0
99          100  32.0  Female        74045.0            53.0

    Purchase_Frequency  Last_Transaction_Days  Preferred_Category
0                   11                     75                   3
1                    5                    217                   3
2                    1                    277                   5
3                    8                    249                   4
4                   12                    164                   1
..                 ...                    ...                 ...
95                   9                    182                   2
96                   7                    167                   1
97                   4                     91                   2
98                  18                    202                   3
99                  13                    346                   2

[100 rows x 8 columns]

In [ ]:
def performance_category(Spending_Score, Purchase_Frequency):
    if Spending_Score >= 85 and Purchase_Frequency >= 10:
        return "High"
    elif Spending_Score >= 70 and Purchase_Frequency >= 8:
        return "Medium"
    else:
        return "Low"

# Apply function correctly using lambda
df["Customer Loyalty Score"] = df.apply(lambda row: performance_category(row["Spending_Score"], row["Purchase_Frequency"]), axis=1)

# Print DataFrame
print(df)

    Customer_ID   Age  Gender  Annual_Income  Spending_Score  \
0             1  56.0    Male        71663.0            96.0
1             2  69.0    Male        35708.0            27.0
2             3  46.0    Male       111906.0            63.0
3             4  32.0    Male        69811.0            96.0
4             5  60.0    Male        22811.0            68.0
..          ...   ...     ...            ...             ...
95           96  42.0    Male        39738.0            51.0
96           97  62.0  Female        50746.0            41.0
97           98  58.0  Female        69377.0            69.0
98           99  46.0    Male        68404.0            14.0
99          100  32.0  Female        74045.0            53.0

    Purchase_Frequency  Last_Transaction_Days  Preferred_Category  \
0                   11                     75                   3
1                    5                    217                   3
2                    1                    277                   5
3                    8                    249                   4
4                   12                    164                   1
..                 ...                    ...                 ...
95                   9                    182                   2
96                   7                    167                   1
97                   4                     91                   2
98                  18                    202                   3
99                  13                    346                   2

   Customer Loyalty Score
0                    High
1                     Low
2                     Low
3                  Medium
4                     Low
..                    ...
95                    Low
96                    Low
97                    Low
98                    Low
99                    Low

[100 rows x 9 columns]

In [ ]:
df["Income levels"] = pd.cut(df["Annual_Income"], bins=[20000, 45000, 65000, 120000], labels=["Low", "Medium", "High"])
print(df)

    Customer_ID   Age  Gender  Annual_Income  Spending_Score  \
0             1  56.0    Male        71663.0            96.0
1             2  69.0    Male        35708.0            27.0
2             3  46.0    Male       111906.0            63.0
3             4  32.0    Male        69811.0            96.0
4             5  60.0    Male        22811.0            68.0
..          ...   ...     ...            ...             ...
95           96  42.0    Male        39738.0            51.0
96           97  62.0  Female        50746.0            41.0
97           98  58.0  Female        69377.0            69.0
98           99  46.0    Male        68404.0            14.0
99          100  32.0  Female        74045.0            53.0

    Purchase_Frequency  Last_Transaction_Days  Preferred_Category  \
0                   11                     75                   3
1                    5                    217                   3
2                    1                    277                   5
3                    8                    249                   4
4                   12                    164                   1
..                 ...                    ...                 ...
95                   9                    182                   2
96                   7                    167                   1
97                   4                     91                   2
98                  18                    202                   3
99                  13                    346                   2

   Customer Loyalty Score income levels Income levels
0                    High           NaN          High
1                     Low           NaN           Low
2                     Low           NaN          High
3                  Medium           NaN          High
4                     Low           NaN           Low
..                    ...           ...           ...
95                    Low           NaN           Low
96                    Low           NaN        Medium
97                    Low           NaN          High
98                    Low           NaN          High
99                    Low           NaN          High

[100 rows x 11 columns]